<header>
   <div class="header_filter">
      <img src="images/logo_kion.svg" alt="">
      <h1>Selecionador de Perguntas</h1>
      <label for="protocol" class="no_visible">Choose a protocol:</label>
      <select name="protocol" id="protocol">
         <option value="protocol-1">Protocolo 1</option>
         <option value="protocol-teste">Protocolo Teste</option>
         <option value="protocol-3">Protocolo 3</option>
         <option value="protocol-5">Protocolo 5</option>
      </select>
   </div>

   <div class="user">
      <div class="user_details">
         <p>Maria da Silva</p>
         <p>Admin</p>
      </div>
      <div class="user_photo">
         <img src="https://picsum.photos/45" alt="Foto do Usuário">
      </div>
   </div>
</header>
<main>
   <section class="content">

      <div class="question_area">
         <h1>Defina as perguntas KION</h1>
         <div class="questions">
         </div>
         
      </div>

   </section>

   <div class='modal-wrapper-answer'>
      <div class='modal-answer'>

         <div class="answer__content">

         </div>

         <img class="close" src="images/close.svg" alt="Fechar aba">

      </div>
   </div>
</main>
<script type="module" src="/js/main.js"></script>
<script type="module" src="/js/modal.js"></script>
<script type="module" src="/js/horizontalScroll.js"></script>